body {
  padding: 10px;
  font-family: sans-serif;
  background: #b1c9c6;
}

#container{

  grid-template-areas: 
    "video"
    "description"
    "comments"
    "related";
}

.video{

}

.description{

}

.comments{

}

.related{

}

@media (min-width: 300px){
  .container{
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "video comments related"
      "description comments related";
  }
}
@media (maxwidth: 300px){
  .container{
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "video comments related"
      "description comments related";
  }
}